# <h1><%= params[:team_name] %></h1>

# <h2>Team Motto:<%= params[:team_motto] %></h2>

# <h2>Hero Name: <%= params[:name1] %></h2>
# <p>Hero Power: <%= params[:power1] %></p>
# <p>Hero Biography: <%= params[:biography1] %></p>

# <h2>Hero Name: <%= params[:name2] %></h2>
# <p>Hero Power: <%= params[:power2] %></p>
# <p>Hero Biography: <%= params[:biography2] %></p>

# <h2>Hero Name: <%= params[:name3] %></h2>
# <p>Hero Power: <%= params[:power3] %></p>
# <p>Hero Biography: <%= params[:biography3] %></p>